# Python / FastAPI
backend/venv/
backend/__pycache__/
*.pyc

# Node / React
frontend/node_modules/
frontend/dist/
frontend/build/

# Secret Environment Files 
.env
backend/.env
frontend/.env

# Editor & System Files
.vscode/
.DS_Store
Thumbs.dbnode_modules/ 
.venv/ 
.venv-1/ 
dist/ 
__pycache__/ 
.env 
